/* Basic Elements */

*{
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Comfortaa', sans-serif;
} 
img {
	width: 100%;
	height: auto;
}
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
#back-top {
	display: none;
}

/*  Media Queries  */

@media screen and (min-width: 769px) {
	#back-top {
		display: block;
	    position: fixed;
	    bottom: 62px;
	    right: 17px;
	    background: rgba(247,153,42,0.76);
	    border-radius: 50%;
	    text-align: center;
	    transition: 1s;
	    opacity: 0;
	}
	#back-top a {
	    display: inline-block;
	    text-transform: uppercase;
	    color: #2f2f2f;
	    font-size: 1em;
	    padding: 19px 15px;
	    letter-spacing: 0.05em; 
	    text-decoration: none;
	}
	.fade-in {
		opacity: 1 !important;
	}
}