/*  Main Navigation  */

#nav {
	width: 100%; 
	display: inline-block;
	padding-top: 0;
    z-index: 90;
}
#sm-logo {
    position: fixed;
    top: 15px;
    left: 20px;
    font-family: 'Comfortaa',sans-serif;
    z-index: 91;
    color: #d77705;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: .5s all ease-in-out;
    transform: translateX(-20px);
}
.show-logo {
    opacity: 1 !important;
    transform: translateX(0) !important;
}
#nav #main {
	padding: 0;
	margin: 0;
	text-align: center;
	display: block;
	background: white;
}
#nav #main li {
	display: inline-block;
    margin: 2px 5px;
    width: 98%;
    background: rgba(247,153, 42,0.3);
    transition: 0.5s ease-out;
}
#nav #main li:hover {
    background: rgba(175, 95, 0,0.8);
}
#nav #main li a {
    text-decoration: none;
    color: #d77705;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.035em;
    padding: 14px 15px;
    display: block;
    cursor: pointer;
}
#nav #main li a:hover {
	color: #f2f2f2;
}
#menu-reveal {
    height: 50px;
    background: rgba(247,153,42,0.8);
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}
#menu-reveal span:after {
    content: "";
    background: url(../img/menu/hamburger-31x25.png);
    -webkit-opactiy: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 25px;
    width: 31px;
    z-index: 1;
}
.fix-menu {
    position: fixed;
    top: 0;
    background: #f2f2f2;
    margin-top: 0;
    padding: 0 !important;
    height: 55px !important;
    border-bottom: 2px solid #ececec;
}
.add-lost-height {
	margin-top: 48px;
}

/*  Media Queries  */
@media screen and (min-width: 769px) {
	#nav {
		padding-top: 1em;
	}
	#nav #main li {
		width: auto;
		margin: 0 5px;
	}
	#menu-reveal {
		display: none;
	}
	#nav #main li {
	display: inline-block;
    margin: 5px 5px;
    width: inherit;
    background: rgba(247,153, 42,0.8);
    border-radius: 7px;
    transition: 0.5s ease-out;
	}
	#nav #main li a {
	    color: #2f2f2f;
	    font-size: 0.8rem;
	}
	#nav #main li a:hover{
		color: #f2f2f2;
	}
} 