// Container

/* ---- Layout Containers ---- */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 1em 0;
	@extend %text-center;
	h2 {
		padding-bottom: 1.5em;
	}
	h3 {
		padding-top: 1em;
	}
}

/* ---- Page  Ids and Classes ---- */
.contact {
	font-weight: 700;
	&-greeting {
		padding-bottom: 2em;
	}
}
.image-shadow {
	background: $goldenrod ;
	@extend %radius;
	-moz-box-shadow: inset $img-inset-top, inset $img-inset-bottom;
	-webkit-box-shadow: inset $img-inset-top, inset $img-inset-bottom;
	box-shadow: inset $img-inset-top, inset $img-inset-bottom;
	max-width: 377px;
	max-height: 277px;
	padding: 20px 10px;
	margin: 0 auto;
}
.profile-image {
	max-width: 183px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid $golden-tainoi ;
}
.skills-stretch-row {
	background: $mariner;
	-moz-box-shadow: inset $exp-inset-top, inset $exp-inset-bottom;
	-webkit-box-shadow: inset $exp-inset-top, inset $exp-inset-bottom;
	box-shadow: inset $exp-inset-top, inset $exp-inset-bottom;
}
.skills {
	width: 100%;
	margin: 0 auto;
	color: $white;
	padding-bottom: 2em;
	h2 , h3, p {
		font-weight: 300;
	}
	h2 {
		margin: 0;
	}
	h3 {
		padding-top: 1.5em;
		font-style: normal;
	}
	p {
		text-align: left;
		padding: 0 1em;
	}
}

