// Icons

.skillset {
	@extend %display-block;
	@extend %text-center;
	padding: 2em 1em;
	p {
		font-weight: 300;
	}
	li {
		@extend %display-inline;
		padding: .5em 1em;
		margin: .2em;
		border-radius: 5px;
		font-weight: 400;
		letter-spacing: .02em;
		color: $white;
		text-shadow: $lite-text-shadow;
		transition: all .8s ease;
		cursor: crosshair;
		text-transform: uppercase;
		background: darken($plum-transparent, 10%); /* Yellow Font */
		&:nth-child(2n-2) {
			background: $emarald-transparent; /* Green Font */
		}
		&:nth-child(3n-3){
			background: $coral-transparent; /* Red Font */
		}
		&:hover {
			box-shadow: $skill-inset-top, $skill-inset-bottom;
		}
	}
}