/* CSS Document */

/* ================================= 
  Base Element Styles
==================================== */
*{
	box-sizing:border-box
}

body{
	font-family: "Merriweather Sans", sans-serif;
	line-height: 1.6;
	color: rgba(52,6,78,1);
	background: #FEFEFE;
}

p{
	font-size: .95em;
}

h1{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 300;
}

h2{
	font-size:1.2em;	
}

h3{
	font-size:1.2em;	
}

h4{
	font-size:.8em;	
}

/*  Form  */


label {
	display:inline-block;
	margin-top: 1em;
}

fieldset{
	border:none;
}

input[id=zip-code]{
	max-width: 50%;
}
/*  Combinators  */

input[type=checkbox], input[type=radio]{
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
	display: block;
	padding: .8em .5em;
	margin: 0;
	border: none;
	background: none;
	width: 100%;
	z-index:1;
}

select {
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
	display: block;
	padding: .7em .5em;
	margin: 0;
	border:3px solid rgba(231,230,232,1);
	background: none;
	width: 100%;
	z-index:1;
}

input[type=email], input[type=text], input[type=tel], input[type=submit]{
	display: block;
	border:3px solid rgba(231,230,232,1);
	width:100%;
	padding: .7em;
	background: rgba(231,230,232,1);
	border-radius: 5px;		
}


fieldset legend{
	font-size: 1.5em;
	padding-top: 1em;
	
}

.pull-down{
	border-radius: 3px;
}

.pull-down, input[type=checkbox] + label::before, input[type=radio] + label::before{
	background: rgba(231,230,232,1);	
}



/* ================================= 
  Base Layout Styles
==================================== */

.wrapper{
	/*height: calc(100vh - 74px);*/ /* Uncomment in FINAL */
}

.container{
	max-width: 650px;
}

.banner{
	background: #836395;
	color: #EDEBED;
	padding: .1em 0;
}

.footer{
	background: #34064E;
	padding: .6em 0;
	margin:0;
	z-index:1000;
}

.footer h4{
	font-weight:300;
	color:#EDEBED;
}
/*  DRY Styles  */


/*  Combinators  */

h1, h4, .greeting{
	text-align: center;
}

select, .pull-down{
	cursor: pointer;
	position: relative;	
}

.container, form{
	margin: 0 auto;
	padding-bottom: 2em;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=submit]:focus, select:focus{
	outline: none;
	border: 3px solid rgba(52,6,78,1);
	border-radius: 5px;
}


/*  Form  */

/*----- Placehoder Hack -----*/
input::-webkit-input-placeholder{
	font-style: italic;
	text-align: right;
	font-size: .7em;
}

input::-moz-placeholder { 
	font-style: italic;
	text-align: right;
	font-size: .7em;
}

input:-moz-placeholder { 
	font-style: italic;
	text-align: right;
	font-size: .7em;
}

input:-ms-input-placeholder { 
	font-style: italic;
	text-align: right;
	font-size: .7em;
}


/*----- Pull-down Menu Style -----*/
.pull-down{
	z-index:2;
}

.pull-down:after{
	content:"";
	position: absolute;
	top: 1.3em;
	right: 1.5em;
	font-size: .8em;
	border-left: .8em solid transparent;
	border-right: .8em solid transparent;
	border-top: .8em solid rgba(231,230,232,1);
}

.pull-down:before{
	content:"";
	position: absolute;
	top: 1.6em;
	right: 1.5em;
	font-size: .8em;
	border-left: .8em solid transparent;
	border-right: .8em solid transparent;
	border-top: .8em solid rgba(52,6,78,1);
}

/*----- Checkbox Style -----*/

input[type=checkbox]{
	display: none;
}

input[type=checkbox] + label{
	display: block;
	position: relative;
}

input[type=checkbox] + label::before{
	content: "";
	display: inline-block;
	margin-right: 12px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 2px solid rgba(52,6,78,0);
	vertical-align: middle;
}

input[type=checkbox]:checked + label::before{
	border: 2px solid rgba(52,6,78,1);
}

input[type=checkbox]:checked + label::after{
	content:"\2714";
	position: absolute;
	top: 5px;
	left: 7px;
	font-size: .8em;
	color: #34064E;
}


/*----- Radio Button Style -----*/

input[type=radio]{
	display: none;
}

input[type=radio] + label{
	display: block;
	position: relative;
}

input[type=radio] + label::before{
	content: "";
	display: inline-block;
	margin-right: 12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid rgba(52,6,78,0);
	vertical-align: middle;
}

input[type=radio]:checked + label::before{
	border: 2px solid rgba(52,6,78,1);
}

input[type=radio]:checked + label::after{
	content: "";
	position: absolute;
	top: 8px;
	left: 6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(52,6,78,1);
}

/*----- Submit Button Style -----*/

input[type=submit]{
	margin-top: 1.5em;
	background: coral;
	border-color: coral;
	color: #f4f4f4;
}
input[type=submit]:focus{
	margin-top: 1.5em;
	background: #E23C00;
	border-color: #E23C00;
	color: #f4f4f4;
}


/* ================================= 
  Page Elements
==================================== */

.main-header p{
	margin-bottom: 2em;
}

.main-header h2{
	margin-top: 2em;}


.main-header p, .main-header h2, .separator, .separator-2{
	margin-left: 1em;
	margin-right: 1em;	
}

.separator, .separator-2{
	border-bottom: 2px solid  rgba(52,6,78,1);
	height: 10px;
}

.separator{
	border-top: 5px solid rgba(52,6,78,1) ;
}

.separator-2{
	margin-top: 1em;
}

.copyright{
	font-size: .7em;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width:759){
	
}