// Extends

%text-center {
	text-align: center;
}
%display-block {
	display: block;
}
%display-inline {
	display: inline-block;
}
%radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}