
// Mixins

@mixin pad0 {
	margin: 0;
	padding: 0;
}
@mixin body {
	@media #{$brk-narrow} {
		body {
			font-size: #{$display-size}em;
		}
	}
}

@mixin columns($pad) {
	@media  #{$brk-narrow} and #{$brk-middle} {
		.col{
			width: 50%;
			vertical-align: top;
			padding-left: $pad;
			padding-right: $pad;
			&:nth-child(2n+2){
				margin-left: -5px;
			}
		}
		.primary, .secondary {
			display: inline-block;
		}
	}
	@media #{$brk-wide} {
		.col {
			width: 33.3%;
			vertical-align: top;
			padding-left: $pad;
			padding-right: $pad;
			&:nth-child(3n+3) {
				margin-left: -8px;
			}
		}
		.primary, .secondary {
			display: inline-block;
		}
	}
}

@mixin header {
	@media #{$brk-narrow} {
		.name, #main-nav {
			display: block;
		}
		.main-nav li {
			display: inline-block;
			margin: 0;
		}
		.hidden {
			display: none;
		}
		.banner {
			padding: 2em 0;
		}
		.banner p {
			float: left;
			text-align: left;
			width: 55%;
		}
		figure {
			float: right;
			width: 40%;
		}	
	}
	@media #{$brk-wide}  {
		.main-nav{
			float: right;
		}
		.banner {
			padding-top: 0;
		}
	}
}

@mixin footer($pad) {
	@media #{$brk-narrow}  {
		.footer-name {
			padding: 0 0 0 $pad;
			margin: 0;
		}
		.back-to-top {
			padding: 0 $pad 0 0;
			margin: 0;
		}
		.wide {
			display: inline-block;
			li {
				display: inline-block;
				padding: 0 $pad;
			}
		}
		.back-to-top {
			display: none;
		}
		.footer-end {
			padding: 1.3em;
		}
	}
	@media (min-width: 1050px) {
		.name {
			float: left;
		}
	}
}

@mixin shared {
	@media #{$brk-narrow} {
		.container, .banner, .skills {
			width: 90%;
			max-width: 1050px;
		}
		.col-2 {
			width: 50%;
		}
	}
}
