/*********************************
   BASIC ELEMENTS
*********************************/
* {
	box-sizing: border-box;
}
body {
	font-family: "Dosis", sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	background: #f2f2f2;
	color: #5B2774;
}
h1#page-title {
	font-family: "Baloo Chettan", cursive;
	text-align: center;
	line-height: 1.2em;
	color: #5B2774;
}
img {
	width: 100%;
}

/*********************************
   IDS/CLASSES 
*********************************/
#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 150px auto 0 auto;
	max-width: 1025px;
}
.result {
	background: #ece8ef;
	margin: 20px;
	padding: 1em;
	position: relative;
	width: 170px;
	min-height: 200px;
}
.result-link,
.no-result-link {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
.no-result-link,
.content {
	color: #351146;
}
.content {
	text-align: center;
}
.no-result-link{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
	min-height: 200px;
}
.no-result-link p {
    margin: 0 0 0.5em 0;
    padding: 0 0.5em;
 }
.link-header {
	font-family: "Baloo Chettan", cursive;
}
.no-result-img {
	width: 170px;
}
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
#message {
	text-align: center;
	margin-top: 25vh;
}

/*********************************
   FORM
*********************************/
#fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #e6e1ea;
    background: whitesmoke;
    z-index: 5;
    padding-bottom: 1.5em;
}
#form-container {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
#form {
	text-align: center;
}
#search {
    border-radius: 4px;
    border: 1px solid #5B2774;
    padding: 0 15px;
    height: 30px;
}
#search:hover {
    background: rgba(202, 168, 218, 0.29);
}
#search:focus {
    outline: none;
    background: rgba(202, 168, 218, 0.29);
    box-shadow: inset 1px 1px 10px rgba(83, 39, 105, 0.5);
}
button {
    cursor: pointer;
    margin-top: 0.5em;
    width: 94px;
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    background: #351146;
    color: white;
}
button:focus {
	outline: none;
}
button:hover,
button:focus {
	background: #5B2774;
}
[placeholder]:focus::-webkit-input-placeholder {
 transition: text-indent 0.5s 0.1s ease;
 text-indent: -100%;
 -webkit-opacity: 1;
 -moz-opacity: 1;
 opacity: 1;
}
/*********************************
   MEDIA QUERIES
*********************************/
