/*******************
 Survey 
 Page Styles 
*******************/
.photo {
	width: 60%;
	padding: 10px;
}
.container {
	text-align: center;
}
.newsletter, .survey {
	width: 100%;
}
.newsletter {
	text-align: right;
}
/*******************
 Form Styles 
*******************/
legend {
	margin-bottom: 7px;
}
.legend {
	position: absolute;
	left: -2000px;
}
form {
	margin: 0 auto;
	text-align: left;
	display: inline-block;
}
form.survey label {
	margin-left: 5px;
	margin-right: 15px;
	display: inline-block;
	margin-bottom: 7px;
}
input[type=text], 
input[type=email] {
	width: 100% !important;
	margin-top: 7px;
	padding: 10px 3px;
}
.survey textarea {
	width: 100%;
	min-height: 80px;
}
.form-section p label {
	display: inline-block;
	width: 100%;
	text-align: left;
}
.form-section {
	margin: 40px 0;
}
#albums {
	background: white;
	width: 230px;
	height: 50px;
}
#albums:focus, textarea:focus, input[type=text]:focus, input[type=email]:focus {
	border: 3px solid #FF0D00;
	outline: none;
}
input[type=radio]:focus + label {
	text-decoration: underline;
}
#albums, textarea, input[type=text], input[type=email] {
	border-radius: 5px;
	border: 3px solid #02CBA4;
}
.form-section button {
	width: 100%;
	height: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	background: #b20000;
	color: white;
	margin-top: 15px;
	transition: .25s ease-out;
}
.form-section button:hover {
	background: white;
	color: #b20000 !important;
	border: 1px solid #b20000;
}
.form-section button:focus {
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	outline: none;
}
.button-padding {
	padding: 0 10%;
}
.submit-text {
	position: absolute;
	left: -2000px;
}
.radio-label {
	position: relative;
	cursor: pointer;
}
.radio-image {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: -5px;
	background: white;
	width: 14px;
	height: 14px;
	border-radius: 100%;
}
.radio-image:after {
	content: "";
	padding-right: 5px;
}
input[type=radio] {
	opacity: 0;
}
input[type=radio]:focus+span {
	outline: none;
}
input[type=radio]:checked+span, input[type=radio]:focus+span {
	background: black;
	border: 3px solid #FF0D00;
}

/*******************
 Styles for 
 Larger Screens
*******************/
@media screen and (min-width: 840px) {
	.photo {
		width: 40%;
	}
	.button-padding {
		padding: 0;
	}
}
