/*
Tested on the following browsers:
-Safari 9.1 on OS X El Capitan
-Firefox 47 on OS X El Capitan
-Chrome  51 on OS X El Capitan
*/

/**********************
Body Elements
***********************/
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #111;
	background: url('svgs/background.svg') #edeff0;
	background-size: 53px 50px; /* Resize background to match original*/
}
#container {
	max-width: 960px;
	background: #fff;
	margin: 0 auto;
}
p {
	max-width: 350px;
	margin: 35px auto 0;
	line-height: 2em;
	text-align: left;
}
a {
	text-decoration: none;
	color: #39add1;
	font-weight: 700;
	cursor: pointer;
}
a:hover, .menu-icons li .st0 {
	color: #111;
	transition: all .7s ease-out;
}
header {
	padding-top: 10px;
}
header nav {
	padding-bottom: 50px;
	text-align: left;
}
header nav ul li {
	display: inline-block;
	margin-right: 20px;
}
header h1 {
	line-height: 1em;
}
main {
	padding-top: 50px;
}
main h2 {
	font-size: 28px;
}
main ul {
	padding: 0;
}
main li {
	display: inline-block;
	color: #ba8058;
	margin-right: 20px;
}
main li img {
	margin-bottom: 15px;
}
main li span {
	margin-left: -40px;
}
main li:last-child {
	margin-right: 0;
}
footer {
	width: 100%;
	margin-top: 100px;
	padding-bottom: 30px;
	color: #ba8058;
}
/**********************
Menu Icons
***********************/
#heart-icon, #bubble-icon {
	width: 13px;
}
#location-icon {
	width: 14px;
}
.menu-icons li .st0 {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}
.menu-icons li:hover .st0 {
	fill: #111 !important;
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
}
/**********************
Logo 
***********************/
#logo {
	max-width: 140px;
}
.logo-st0 {
	fill: #BA8058;
}
.logo-st1 {
	fill: #EAAA7F;
}
.logo-st2 {
	fill: #F4C6A6;
}
.logo-title {
	display: none;
	color: #EAAA7F;
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 0.25em;
}
/**********************
Dogs
***********************/
#red_1, #fawn_1, #sable_1, #blacktan_1 {
	width: 170px;
}
/* Corgi-Red */
.red-st0 {
	fill: #BA8058;
}
.red-st1 {
	fill: #FBFEFF;
}
.red-st2 {
	fill: #2D3339;
}
.red-st3 {
	fill: #EAAA7F;
}
/* Corgi-Fawn */
.fawn-st0 {
	fill: #EAAA7F;
}
.fawn-st1 {
	fill: #FBFEFF;
}
.fawn-st2 {
	fill: #2D3339;
}
.fawn-st3 {
	fill: #F4C6A6;
}
/* Corgi-Sable */

.sable-st0 {
	fill: #844B24;
}
.sable-st1 {
	fill: #FBFEFF;
}
.sable-st2 {
	fill: #2D3339;
}
.sable-st3 {
	fill: #BA8058;
}
/* Corgi-Black and Tan */

.blacktan-st0 {
	fill: #BA8058;
}
.blacktan-st1 {
	fill: #52595F;
}
.blacktan-st2 {
	fill: #FBFEFF;
}
.blacktan-st3 {
	fill: #2D3339;
}

/**********************
Media Queries
***********************/
@media (max-width: 419px) {
	.logo-st1 {
		display: none;
	}
	.logo-title {
		display: block;
	}
}
