/******************************
BASIC ELEMENTS
******************************/

* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	background: #0B1F70;
	color: #333;
	font-size: 1em;
	line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
	text-transform: uppercase;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.1em;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #999;
	margin: 1em 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #4057B7;
	cursor: pointer;
}
a:hover {
	color: #11298E;
	text-decoration: underline;
}
footer#footer {
	display: block;
	width: 100%;
	height: 300px;
}
/******************************
PRELOAD IMAGES
******************************/
#preload-01{
	background: url(../images/icons/close-message.png) no-repeat -9999px -9999px;
}
/******************************
CLASS ELEMENTS
******************************/

/* Header: Us*/
#header {
	background: #4057B7;
	width: 100%;
	height: 150px;
	padding: 20px 20px;
	color: white;
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	position: relative;
	z-index: 2;
	display: block;
}
.no-bold{
	font-weight: 300 !important;
}
path.notification-svg {
	fill: #ffffff;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	transition: all .7s ease-out;
}
#notification {
	/*background: url(../images/icons/icon-bell.svg);
	background-repeat: no-repeat;*/
	width: 30px;
	height: 30px;
	/*text-indent: -2000px;*/
	position: relative;
	margin-right: 33px;
	position: relative;
	cursor: pointer;
}
#notification:hover path.notification-svg {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#notification:before {
    content: " ";
    width: 1px;
    height: 57px;
    border-left: 1px solid #0B1F70;
    position: absolute;
    top: -12px;
    right: -21px;
}
.alert {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    background-color: red;
    top: 0;
    right: 5px;
}
.note {
    position: fixed;
    display: none;
    opacity: 0;
    width: 230px;
    top: 50%;
    left: 50%;
    margin: auto;
    background: #FFFF77;
    color: #2f2f2f;
    font-size: 0.85em;
    text-align: center;
    font-weight: 900;
    padding: 17px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 55;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-indent: 0;
}
#member-block { 
	display: inline-block;
	width: 100%;
	float: none;
 	font-weight: 300;
 	font-size: 0.7em;
 	margin-top: 30px;
 	cursor: pointer;
 }
 #member-block img {
 	width: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
 	border-radius: 100%;
 	margin-right: 15px;
 }
 #member-block .member-name{
 	display: -ms-flexbox;
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	max-height: 50px
 }
 .center {
 	align-self: center;
 }
/* Navigation */
#nav {
	background: #0B1F70;
	position: relative;
	z-index: 1;
	position: relative;
	width: 100%;
	height: auto;
}
#nav ul{
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 1em;
	height: auto;
}
#nav li {
	padding: 0;
	position: relative;
	background-repeat: no-repeat;
	text-indent: -2000px;
	list-style: none;
	width: 40px;
	height: 40px;
	margin: 0;
	cursor: pointer;
}
.active {
    display: inline-block;
    width: 46px;
    height: 5px;
    background: #4CAF50;
    position: absolute;
    bottom: -13px;
    left: -2px;
    border-radius: 3px;
    transition-property: width, height;
}
#dashboard {
	background: url(../images/icons/icon-dashboard.svg);
}
#members {
	background: url(../images/icons/icon-members.svg);
}
#charts {
	background: url(../images/icons/icon-visits.svg);
}
#settings {
	background: url(../images/icons/icon-settings.svg);
}
/* Container and Wrapper */
#wrapper {
	background: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	margin-left: 0;
	position: relative;
	max-width: 980px;
	width: 100%;
}

/* Title Area */
#title-area {
	width: auto;
	height: 150px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	padding: 15px;
	position: relative;
}
#title {
	margin-top: 11px;
	font-size: 1.5em;
}
#search {
	display: block;
	margin-top: 9px;
	width: 100%;
	font-size: 1.5em;
}

/* Body */

/* alert box */
#notification-placeholder {
	position: relative;
	width: 100%;
	padding: 0 15px;
}
.alert-box {
	min-height: 40px;
	color: white;
	margin-top: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
	/*  alert colors */
.warning {
	background: #E75454;
}
.marketing {
	background: #4CAE00;
}
.alert-notification {
    padding: 9px 20px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 54;
    cursor: pointer;
}
.alert-message {
	display: none;
	opacity: 0;
	position: absolute;
	width: 230px;
    top: 30px;
    left:0;
    right:0;
    margin: 0 auto;
    background: repeating-linear-gradient(
    	#FFFF77,
    	#FFFF77 19.5px,
    	#e9e97b 5px,
    	#e9e97b 20px);
    color: #2f2f2f;
    font-size: 0.85em;
    text-align: center;
    font-weight: 400;
    padding: 17px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 55;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.alert-message a {
	text-decoration: none;
	color: #123293;
}
.alert-message a:hover {
	text-decoration: underline;
}
.show-message {
	display: block;
}
.message-close {
	background: url(../images/icons/close-message.png) center center;
	background-repeat: no-repeat;
	position: absolute;
	top: -10px;
	left: -10px;
	width: 26px;
	height: 26px;
	z-index: 56;
	cursor: pointer;
	text-indent: -2000px;
}
.close {
	text-indent: -2000px;
	background: url(../images/icons/close.png) center center;
	background-repeat: no-repeat;
	color: white;
	position: absolute;
	display: inline-block;
    padding: 9px 12px;
	top:0;
	left: 0;
	font-size: 0.75em;
	cursor: pointer;
	z-index: 55;
}
.hide-div {
	display: none;
}
#traffic,
#daily-traffic,
#mobile-users {
	margin: 30px 20px 20px 20px;
}
/* traffic */
#traffic {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	/*height: 400px;*/
}
#traffic span {
	display: inline-block;
}
#traffic ul {
	display: inline-block;
    padding: 0;
    margin: 0 0 10px 0;
}
#traffic ul li {    
	list-style-type: none;
    display: inline-block;
    padding: 2px 10px;
    font-size: 0.75em;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s ease-out;
}
#traffic ul li:hover,
.active-time {  
    background: #2f2f2f;
    color: white;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both; 
}
/* daily traffic */
#daily-chart-legend ul{
    width: 100%;
    text-align: center;
}
#daily-chart-legend ul li {
    display: inline-block;
    padding: 5px 20px;
    position: relative;
}
#daily-chart-legend ul li::before {
	content: "";
	background: rgba(170,153, 57, 0.5);
	position: absolute;
	top: 10px;
	left: 0;
	width: 12px;
	height: 12px;
}
#daily-chart-legend ul li:nth-child(1):before {
	background: rgba(170,153, 57, 0.5);
}
#daily-chart-legend ul li:nth-child(2):before {
	background: rgba(151, 187, 205, 0.5);
}
/* mobile users */
#mobile-users {
	/*height: 400px;*/
}
#mobile-legend ul li:nth-child(n+1):before {
	background: rgba(151, 187, 205, 0.5);
}
#mobile-legend ul li:nth-child(n+2):before {
	background: rgba(170,153, 57, 0.5);
}
#mobile-legend ul li:nth-child(n+3):before {
	background: rgba(136, 204, 136, 0.5);
}
#mobile-legend ul li:nth-child(n+4):before {
	background: rgba(255, 105, 105, 0.5);
}
/* shared */
#daily-chart-legend ul,
#mobile-legend ul{
    width: 100%;
    text-align: center;
}
#daily-chart-legend ul li,
#mobile-legend ul li {
    display: inline-block;
    padding: 5px 20px;
    position: relative;
}
#daily-chart-legend ul li::before,
#mobile-legend ul li::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 12px;
	height: 12px;
	}
	#daily-traffic h2,
	#mobile-users h2,
	#social-media h2,
	#member-sec h2,
	#activities-sec h2,
	#send-message h2,
	#dashboard-settings h2 {
		text-align: center;
	}
/******************************
SOCIAL STATS
******************************/	
.social-stats {
	max-width: 400px;
	min-width: 290px;
	padding: 15px 7px;
	border: 1px solid #999;
	border-radius: 10px;
	position: relative;
	margin: 10px;
}
.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#facebook-svg {
	background: url(../images/icons/icon-facebook.svg);
}
#twitter-svg {
	background: url(../images/icons/icon-twitter.svg);
}
#googleplus-svg {
	background: url(../images/icons/icon-googleplus.svg);
}
#linkedin-svg {
	background: url(../images/icons/icon-linkedin.svg);
}
#instagram-svg {
	background: url(../images/icons/icon-instagram.svg);
}
.social-badge {
	background-repeat: no-repeat;
	width: 57px;
	height: 57px;
	background-position: center center;
	display: inline-block;
	text-indent: -2000px;
}
.social-label {
    display: inline-block;
    position: absolute;
    left: 81px;
    color: #4057B7;
    top: 10px;
    font-weight: 900;
    letter-spacing: 1px;
}
.social-data {
    display: inline-block;
    position: absolute;
    top: 38px;
    left: 81px;
    font-size: 51px;
}

/******************************
MEMBERS
******************************/	
.new-build {
    text-align: center;
    position: relative;
    min-height: 91px;
    margin: 20px 20px 40px 20px;
    border-bottom: 1px solid #999999;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.new-build:last-child {
	border-bottom: none;
}
#manuel-9254 {
	background: url(../images/members/manuel-ortiz.jpg);
}
#crystal-9009 {
	background: url(../images/members/crystal-meyers.jpg);
}
#jackie-9101 {
	background: url(../images/members/jackie-sun.jpg);
}
#jill-9153 {
	background: url(../images/members/jill-scott.jpg);
}
#john-2134 {
	background: url(../images/members/john-warner.jpg);
}
#sharon-1123 {
	background: url(../images/members/sharon-lee.jpg);
}
.profile {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 60px 60px !important;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
}
.name {
    display: inline-block;
    position: absolute;
    top: 6px;
    font-weight: 900;
    left: 72px
}
.email {
    display: inline-block;
    position: absolute;
    top: 27px;
    left: 72px;
    line-height: 14px;
    text-align: left;
    font-size: 0.8em;
}
.join{
    display: inline-block;
    position: absolute;
    top: 57px;
    left: 72px;
}
/******************************
ACTIVITIES
******************************/	
#commented {
	background: url(../images/activity/icon-comment.svg);
}
#posted {
	background: url(../images/activity/icon-post.svg);
}
#joined {
	background: url(../images/activity/icon-join.svg);
}
.recent {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.85em;
}
.arrow:hover {
	text-decoration: none;
}
.text {
    display: inline;
    position: absolute;
    top: 15px;
    left: 71px;
    max-width: 488px;
    text-align: left;
    line-height: 1.1em;
    font-size: 0.8em;
}

/******************************
MESSAGE USER
******************************/	

.help {
    position: absolute;
    text-align: center;
    font-size: 0.8em;
    width: 95%;
    background: whitesmoke;
    bottom: -36px;
    right: 6px;
    display: inline-block;
    z-index: 1;
    padding: 5px 6px;
    border: 2px solid #999;
    border-top: none;
    border-radius: 0 0 5px 5px;
    height: auto;
    opacity: 0;
    transform: translateY(-15px);
    transition: 0.3s ease-out;
    cursor: pointer;
    color: #4057B7;
    text-decoration: underline;
}

#search-member,
#message-member,
#form-button {
    border-radius: 5px;
    border-style: none;
    display: block;
    width: 100%;
    margin-top: 20px;
	border: 2px solid #999999;
	position: relative;
	z-index: 10;
}
#search-member:focus,
#message-member:focus {
	outline: none;
	border: 2px solid #6377C8;
}
#search-member {
	height: 45px;
	padding: 7px 20px;
}
#message-member {
	border-radius: 5px;
	height: 100px;
	padding: 7px 20px;
}
#form-button {
	border-radius: 5px;
	height: 45px;
	text-transform: uppercase;
	cursor: pointer;
	background: #0B1F70;
	color: white;
}
#form-button:focus{
	outline: none;
	background: #4057B7;
}
#send-message, 
#dashboard-settings {
	margin: 20px;
}
.field-container {
	display: inline-block;
	position: relative;
	width: 100%;
}
#list {
    position: absolute;
    top: 0;
    top: 49px;
    left: 10px;
    background: lightgrey;
    width: auto;
    padding: 0 20px;
    border-left: 1px solid #2f2f2f;
    border-right: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
    border-radius: 0 0 5px 5px;
    z-index: 200;
}
#list li {
	list-style: none;
	cursor: pointer;
}
.show-validate {
    transform: translateY(0);
    opacity: 1;
    z-index: 300;
}

/******************************
FORM ELEMENTS
******************************/

#search input[type=text] {
	position: relative;
	top: 17px;
	right: 0;
	border: none;
	height: 43px;
	max-width: 300px;
	background: none;
	padding: 7px;
	font-weight: 300; 
	font-size: 0.8em;
	border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
}
#search input[type=text]:focus {
	outline: none;
	background: #e8e7e7;
	border: 1px solid #cc0000;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.25s 0.25s ease; 
  text-indent: -100%;
  opacity: 1;
}
/******************************
MEDIA QUERIES
******************************/
@media (min-width: 480px) {
	.profile {
		top: 0;
	}
	.join {
		top: 27px;
		right: 10px;
		left: inherit;
	}
	.email {
		font-size: 1em;
		line-height: 16px;
	}
	.text {
	    line-height: inherit;
	    font-size: inherit;
	    top: 0;
	}
}
@media (min-width: 765px) {
	#header {
		display: flex;
		height: 75px;
		text-align: left;
		display: block;
	}

	#member-block { 
		display: inline-block;
		width: auto;
		float: right;
	 	font-weight: 300;
	 	font-size: 0.7em;
	 	margin-top: -9px;
	 	cursor: pointer;
	 }
	 #member-block .member-name{
	 	justify-content: initial;
	 }
	#nav {
		top: 0;
		padding-top: 75px;
		left: 0;
		width: 120px;
		height: 100vh;
		position: fixed;
		left: 0;
	}
	#nav ul{
		display: block;
		padding: 3em 30px 20px 30px;
		margin: 0 ;
	}
	#nav li {
		padding: 50px 0;
		background-repeat: no-repeat;
		text-indent: -2000px;
		width: 60px;
		height: 60px;
		cursor: pointer;
	}
	.active {
	    width: 7px;
	    height: 71px;
	    bottom: 35px;
	    left: -30px;
	    border-radius: 0 10px 10px 0;
	}
	.container {
		margin-left: 125px;
		width: auto ;
	}
	.two-columns {
		display: flex;
	}
	.col {
		width: 50%;
	}
	.two-columns2 {
		padding: 0;
		margin: 15% 0 0 0;
		position: relative;

	}
	.col2a{
	    width: 75% !important;
	    position: absolute;
	}
	.col2b{
	    width: 23%;
	    display: inline-block;
	    position: absolute;
	    left: 53%;
	    margin-left: 10px;
	}
	#title-area {
		height: 90px;
		text-align: initial;
	}
	#title {
		margin-top: 0;
		text-align: left;
	}
	#search {
		margin-top: 0;
	}

	#search input[type=text] {
	position: absolute;
	right: 15px;
	}
	#traffic h2 {
		align-self: flex-start;
	}
	#traffic ul {
		align-self: flex-end;
		margin: -41px 0 10px 0;
	}
	/* Members */
	.join {
	    top: 59px;
	    left: 72px;
	    right: inherit;
	}
}

@media (min-width: 1043px) {
	/* Members */
	.join { 
		top: 27px;
	    left: inherit;
	    right: 10px;
	}
}
@media (min-width: 1108px) {
	#wrapper {
		align-items: center;
	}
	.container {
		width: 100%;
	}
}